torch~=1.12.1+cu116
torchvision~=0.13.1+cu116
omegaconf~=2.2.3
fvcore~=0.1.5.post20220512
opencv-python~=3.4.8.29
numpy~=1.23.3
numba~=0.56.2
setuptools~=59.8.0
av~=9.2.0
matplotlib~=3.6.0
pycocotools~=2.0.5
tabulate~=0.8.10
scipy~=1.9.1
termcolor~=2.0.1
iopath~=0.1.9
Pillow~=9.2.0
tqdm~=4.64.1
packaging~=21.3
cloudpickle~=2.2.0
PyYAML~=6.0
fairscale~=0.4.12
timm~=0.6.11